name: Sync to fork

on:
  push:
    branches:
      - master

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to fork
        run: |
          git remote add fork https://x-access-token:${{ secrets.FORK_PAT }}@github.com/prashantmahesh/theCounterpointCrew.git
          git push fork master --force
